html, #body-container{
	background-color:#A3C4BC;
}

:root {
  --content-max-width: 90%;
}

#sidebar{
	background-color:#755493;
}
#menu-bar{
	background-color:#A3C4BC;
	border:none;
}

h1{
	font-size:120%;
}
h6{
    text-align:center;
}
.sidebar .sidebar-resize-handle{
	background-color:#A3C4BC;
}

.sidebar .sidebar-scrollbox {
padding:10px 15px 10px 10px;
}

.page{
	padding:1px 5px 5px 10px;
	background-color:#A3C4BC;
}

.content{
	margin:5px 30px 0 10px;
}

.content main{
	background-color:white;
	padding:1px 30px 3px 30px;
	border-radius:10px;
}

h1.menu-title{
	color:#1B4332;
	font-weight:bold;
}


#theme-toggle{
display:none;	
}

.fa-bars::before, 
.fa-search::before, 
.fa-print::before, 
.sidebar-resize-handle .sidebar-resize-indicator
{
  padding: 7px;
  background-color: #ececec;
  border-radius: 3px;
}
.fa-bars:hover::before, 
.fa-search:hover::before, 
.fa-print:hover::before, 
.sidebar-resize-handle .sidebar-resize-indicator:hover,
.mobile-nav-chapters:hover{
  background-color: #ccc;	
}
.fa-search{
	font-size:120%;
}

.chapter{
	background-color:white;
	padding:2px 12px 8px 12px;
	border-radius:12px;
    margin-right:15px:
}

.chapter li a.active{
	color:#5C2E84;
	background-color:none;
}
.sidebar-scrollbox li.chapter-item > a {
    font-weight: bold;
    font-size: 1.05em;
}
.section li.chapter-item a {
    font-weight: normal;
    font-size: 1em;
}

.mobile-nav-chapters{
	width:28px;
	font-size:1.5em;
}

.zabcontainer {
      display: flex;
      flex-wrap: wrap; /* permet aux blocs de passer à la ligne si nécessaire */
      gap:10px;
    }

    .zableft {
      flex: 0 0 420px; /* largeur fixe */
      padding:10px 0px 10px 0px;
    }

    .zabright {
      flex: 1; /* prend le reste de la largeur */
      padding:10px;
    }

    /* Mise en page responsive : quand l’écran est trop étroit */
    @media (max-width: 700px) {
      .zabcontainer {
        flex-direction: column;
      }
      .zableft {
        flex: 0 0 auto;
        width: 420px;      /* largeur souhaitée */
        max-width: 100%;   /* empêche le débordement sur écrans < 300px */
        margin: 0 auto;    /* <-- centre horizontalement */
      }

      .zabright {
        flex: 1 1 100%;
        width: 100%;
      }
    }
    
    
.zab-method-dl {
  display: grid;
  grid-template-columns: max-content 1fr; /* libellés larges + définitions flexibles */
  column-gap: 20px;  /* espace horizontal entre libellé et définition */
  row-gap: 10px;     /* espace vertical entre les lignes */
}

.zab-method-dl dt {
  font-weight: bold;
  text-align: right;
}

.zab-method-dl dd {
  margin: 0;  /* enlève le margin par défaut des dd */
}

.photo-style,.photo-style2 {
  background-color: white;
  border: 5px solid #eee;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 0px;
  display: inline-block;
}

.photo-style {
  transform: rotate(-2deg);
}